<div class="message">
  <h3><%= message.title %></h3>
  <p><%= message.message %></p>
  <% if (currentUser && currentUser.member_status === true) { %>
    <p class="messageTime"><%= message.time.toString().split("GMT")[0] %></p>
    <h4 class="username"><%= message.fullname %></h4>
  <% } else { %>
    <p class="messageTime hidden"> <em>Some time ago...</em></p>
    <h4 class="username hidden">USER HIDDEN</h4>
  <% } %>
  <% if (currentUser && currentUser.admin_status === true) { %>
    <form action="/delete-message" method="POST">
      <input type="number" value="<%= message.id %>" name="messageId" id="messageId" hidden aria-hidden="">
      <button class="deleteBtn" type="submit">Delete message</button>
    </form>
  <% } %>
</div>